In [2]:
import pandas as pd

In [3]:
df = pd.read_pickle("results/distributed_cnn/results_fedavg_CIFAR10_ResNet9.pkl")
fedavg_acc = pd.DataFrame(df)
fedavg_acc

# 97.444 90.10 (70)

    epochs  trainACCs  testACCs
0        1     32.698     44.96
1        2     51.292     54.14
2        3     60.042     63.75
3        4     66.880     67.80
4        5     70.472     73.86
..     ...        ...       ...
65      66     97.248     90.03
66      67     97.248     89.88
67      68     97.134     90.33
68      69     97.430     89.88
69      70     97.444     90.10

[70 rows x 3 columns]

In [4]:
df = pd.read_pickle("results/distributed_cnn/results_eden_CIFAR10_ResNet9.pkl")
eden_acc = pd.DataFrame(df)
eden_acc

# 1 bit 96.870 89.82 (70)

    epochs  trainACCs  testACCs
0        1     33.172     46.54
1        2     51.800     56.47
2        3     60.696     61.34
3        4     66.538     67.81
4        5     70.546     73.84
..     ...        ...       ...
65      66     96.900     89.35
66      67     97.040     90.12
67      68     96.892     89.94
68      69     96.752     90.05
69      70     96.870     89.82

[70 rows x 3 columns]

In [5]:
df = pd.read_pickle("results/distributed_cnn/results_sq_CIFAR10_ResNet9.pkl")
sq_acc = pd.DataFrame(df)
sq_acc
#1 bit   10.00 10.00  (n=10)
#1 bit   33.482 35.32 (n=100)
#2 bits  46.684 47.27 (n=10)
#2 bits  63.790 63.84 (n=100) (70)
#3 bits  77.058 76.16 (n=10)  (70)
#4 bits  89.506 85.60 (n=10)  (70)
#32 bits 89.890 83.00 (n=10)  (70)

    epochs  trainACCs  testACCs
0        1     19.076     25.47
1        2     25.972     28.57
2        3     29.552     31.89
3        4     31.004     29.45
4        5     33.952     35.79
..     ...        ...       ...
95      96     80.208     78.88
96      97     79.730     78.33
97      98     79.738     78.69
98      99     79.782     79.06
99     100     80.384     79.26

[100 rows x 3 columns]

In [13]:
df = pd.read_pickle("results/distributed_cnn/results_sq_1_CIFAR10_ResNet9.pkl")
sq_1_acc = pd.DataFrame(df)
sq_1_acc

#1 1/2**6  93.528 87.84 (70)

#1 1/2**10 76.396 73.60 (20)

#2 1/2**6  96.678 89.45 (70)
#2 1/2**10 97.030 89.94 (70)
#3 1/2**6  97.244 89.43 (70)
#3 1/2**10 97.160 89.98 (70)

    epochs  trainACCs  testACCs
0        1     19.134     25.54
1        2     26.008     28.24
2        3     29.378     31.57
3        4     30.876     30.26
4        5     33.820     34.64
..     ...        ...       ...
95      96     90.932     85.21
96      97     91.410     86.22
97      98     91.572     86.45
98      99     91.808     86.53
99     100     91.706     86.58

[100 rows x 3 columns]

In [7]:
df = pd.read_pickle("results/distributed_cnn/results_sq_2_CIFAR10_ResNet9.pkl")
sq_2_acc = pd.DataFrame(df)
sq_2_acc

#3 1/2**6  74.424 73.14 (70)
#3 1/2**10 72.220 72.22 (70)
#3 1/2**12 70.240 71.56
#3 1/2**13 76.576 76.16 (70)
#3 1/2**14 78.014 76.25
#3 1/2**15 75.082 75.00 (70)
#3 1/2**16 79.062 77.61
#3 1/2**17 73.942 73.60 (70)
#3 1/2**18 78.994 77.78

    epochs  trainACCs  testACCs
0        1     34.602     43.42
1        2     47.774     48.70
2        3     53.120     54.50
3        4     56.796     56.56
4        5     58.286     59.57
..     ...        ...       ...
65      66     73.860     72.55
66      67     74.170     74.29
67      68     73.730     74.90
68      69     74.236     74.22
69      70     74.424     73.14

[70 rows x 3 columns]

In [8]:
df = pd.read_pickle("results/distributed_cnn/results_fedavg_CIFAR100_ResNet50.pkl")
fedavg_acc = pd.DataFrame(df)
fedavg_acc

#95.796 65.23

     epochs  trainACCs  testACCs
0         1      1.130      1.24
1         2      1.630      2.46
2         3      3.434      4.51
3         4      5.534      7.24
4         5      7.104      8.57
..      ...        ...       ...
105     106     95.942     64.94
106     107     96.172     65.30
107     108     95.922     64.58
108     109     95.750     64.78
109     110     95.796     65.23

[110 rows x 3 columns]

In [9]:
df = pd.read_pickle("results/distributed_cnn/results_eden_CIFAR100_ResNet50.pkl")
eden_acc = pd.DataFrame(df)
eden_acc

#1 95.848 65.24

     epochs  trainACCs  testACCs
0         1      1.080      1.11
1         2      1.730      2.40
2         3      3.076      3.31
3         4      4.770      6.29
4         5      6.782      8.34
..      ...        ...       ...
105     106     95.388     64.25
106     107     95.856     64.86
107     108     95.928     65.22
108     109     95.776     64.91
109     110     95.848     65.24

[110 rows x 3 columns]

In [10]:
df = pd.read_pickle("results/distributed_cnn/results_sq_CIFAR100_ResNet50.pkl")
sq_acc = pd.DataFrame(df)
sq_acc

# 1 100 
# 1

    epochs  trainACCs  testACCs
0        1      1.212      1.09
1        2      1.248      0.96
2        3      1.116      0.90
3        4      1.334      1.85
4        5      1.502      1.24
5        6      1.262      1.57
6        7      1.278      1.46
7        8      1.354      1.19
8        9      1.262      1.82
9       10      1.262      1.62
10      11      1.138      1.02
11      12      1.162      1.18
12      13      1.130      1.12
13      14      1.300      1.39
14      15      1.094      1.21
15      16      1.082      1.20
16      17      1.108      1.23
17      18      1.156      0.85
18      19      1.118      1.12
19      20      1.180      1.23

In [11]:
df = pd.read_pickle("results/distributed_cnn/results_sq_1_CIFAR100_ResNet50.pkl")
sq_1_acc = pd.DataFrame(df)
sq_1_acc

# 2 2**-6 95.824 63.37
# 3 2**-6 95.994 66.38

     epochs  trainACCs  testACCs
0         1      1.230      1.00
1         2      1.468      2.55
2         3      3.030      3.92
3         4      4.894      6.22
4         5      7.092      8.43
..      ...        ...       ...
105     106     95.958     65.99
106     107     95.604     65.77
107     108     95.708     65.04
108     109     95.874     65.28
109     110     95.994     66.38

[110 rows x 3 columns]

In [12]:
df = pd.read_pickle("results/distributed_cnn/results_sq_2_CIFAR100_ResNet50.pkl")
sq_2_acc = pd.DataFrame(df)
sq_2_acc

# 3 1/2**17

FileNotFoundError: [Errno 2] No such file or directory: 'results/distributed_cnn/results_sq_2_CIFAR100_ResNet50.pkl'